<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

  <script>
    var account;
    var count = 0;
    var today = new Date();
  </script>

  <title>LoFun</title>
</head>
<body>
  <div>
    <%- include topbar.ejs %>
  </div>
  <!-- Begin page content -->

  <div style="position:relative" height: 100px;>
    <%- lodingPage %>
  	   <img src="/img/loading.gif" alt="loading">
    </div>

    <%- inputPage %>
      <form action="/raiseFundTest" method="post" id="fundingInput">
        Funding name
        <input type="text" name="fundingname" value="name" /> <br />
        Deadline
        <input type="date" name="deadline" id="deadline" min="2017-12-31" max="9999-12-31"><br />
        Fundraising amount
        <input type="text" name="fundraising_amount" value="1" size="65" maxlength="64"> ehter <br />
        <input type="button" value="test" onClick="makeFund()">
        <input type="submit" id="submit">
      </form>
    </div>
  </div>

  <div style="position:absolute; bottom:0px;">">
    <%- include footer.ejs %>
  </div>
  <!-- JavaScript -->
  <script>

	function makeFund(){
    if (typeof web3 == 'undefined') {
      alert("can't find Metamask.");
	    return;
    }

    var abiDefinition = <%- JSON.stringify(abiDefinition) %>;
    var basicFundCntract = web3.eth.contract(abiDefinition);
    basicFundCntract.new([18,10,10,100,"0x8d3c1ba54cdd1f0d00d379c953ea0a392dde536c"], {data: <%- JSON.stringify(byteCode) %>, from: account, gas: 4700000}, completFund);
  }

  function completFund(error, result) {
    if (!error) {
      console.log(result);

      if (typeof result.address != 'undefined') {
        alert("펀딩이 발행되었다 : " + result.address);
        location.href="/raiseFundTest";
      }
    }
    else {
      console.error(error);
    }
  }

  window.addEventListener('load', function() {
    //alert(count++);
     document.getElementById("deadline").valueAsDate = today;
    if (typeof web3 !== 'undefined') {
        // Use the browser's ethereum provider
        var provider = web3.currentProvider
        console.log('Web3 is defined.');

        // version
        var version = web3.version.api;
        console.log('Version is' + version);

        var accountInterval = setInterval(function() {
          if (web3.eth.accounts[0] !== account) {
            account = web3.eth.accounts[0];
            //updateAccount();
            console.log('Account is changed to ' + account);
          }
          else {
            console.log('Current Account is ' + account);
          }
        }, 1000);
    } else {
        console.log('No web3? You should consider trying MetaMask!')
        //document.getElementById('clientStatus').innerText = 'No Web3 Service. Please check your MetaMask!';
        $('participateBtn').attr('disabled', 'disabled');
    }
    if (<%- tryPublishFund %>== 1) {
      makeFund();
    }

  })
	</script>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
